<header class="page-header">
  <div class="container page-header-container">
    <a class="logo header-logo" href="./index.html" aria-label="Site logotype">
      <img
        class="logo-img"
        src="./img/logo/logo.webp"
        alt="Logo"
        width="80"
        height="80"
      />
      <span class="logo-part">nabasoff*</span>
    </a>
    <nav class="dropdown" aria-label="Main navigation">
      <button class="dropbtn" aria-controls="Open or close menu">Menu</button>
      <ul class="dropdown-content" id="dropdown-content" role="menu">
        <li class="mobile-nav-item">
          <a
            class="mobile-nav-link"
            href="#aboutMe"
            aria-label="link to About me section"
            >About me</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            class="mobile-nav-link"
            href="#benefits"
            aria-label="link to Benefits section"
            >Benefits</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            class="mobile-nav-link"
            href="#projects"
            aria-label="link to Projects section"
            >Projects</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            class="mobile-nav-link"
            href="#faq"
            aria-label="link to FAQ section"
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-btns-wrapper">
      <a
        href="#workTogether"
        class="header-order-button"
        aria-label="Order the project"
        >Order the project</a
      >
      <button
        class="theme-color-open-header-btn"
        type="button"
        aria-label="Change theme"
      >
        Change theme
      </button>
    </div>
    <button
      class="mobile-open-btn"
      type="button"
      data-menu-open
      aria-label="Button to open menu"
    >
      <svg class="mobile-btn-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
