<!-- <section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title" id="hero-heading">
      Hello. <br />
      I’m Fullstack developer Yuriy Nabasov.
    </h1>
    <ul
      class="hero-social-links-list"
      aria-labelledby="List social links"
      role="list"
    >
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://www.instagram.com/goitclub/ "
          target="_blank"
          rel="noopener noreferrer"
          aria-label="link to Instagram"
          >IG</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href=" https://www.facebook.com/goITclub/ "
          target="_blank"
          rel="noopener noreferrer"
          aria-label="link to Facebook"
          >FB</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://www.youtube.com/c/GoIT "
          rel="noopener noreferrer"
          target="_blank"
          aria-label="link to YouTube"
          >YT</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links"
          href="https://github.com/Yuriy-Nabasov"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="link to GitHub"
          >GH</a
        >
      </li>
      <li class="hero-link">
        <a
          class="hero-social-links hero-social-email"
          href="mailto:nabasoffn@gmail.com"
          aria-label="Email Yuriy Nabasov"
          >nabasoff@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section> -->

<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title" id="hero-heading">
      Hello. <br />
      I’m Fullstack developer Yuriy Nabasov.
    </h1>
    <ul
      class="hero-social-links-list"
      aria-labelledby="hero-heading"
      role="list"
    >
      <li class="hero-link" role="listitem">
        <a
          class="hero-social-links"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Instagram"
          >IG</a
        >
      </li>
      <li class="hero-link" role="listitem">
        <a
          class="hero-social-links"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Facebook"
          >FB</a
        >
      </li>
      <li class="hero-link" role="listitem">
        <a
          class="hero-social-links"
          href="https://www.youtube.com/c/GoIT"
          rel="noopener noreferrer"
          target="_blank"
          aria-label="Link to YouTube"
          >YT</a
        >
      </li>
      <li class="hero-link" role="listitem">
        <a
          class="hero-social-links"
          href="https://github.com/Yuriy-Nabasov"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to GitHub"
          >GH</a
        >
      </li>
      <li class="hero-link" role="listitem">
        <a
          class="hero-social-links hero-social-email"
          href="mailto:nabasoffn@gmail.com"
          aria-label="Email Yuriy Nabasov"
          >nabasoff@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
