<!-- <div class="mobile-menu" data-menu>
  <button class="mobile-menu-close-btn" data-menu-close aria-label="Close menu">
    <svg class="mobile-menu-close-btn-icon">
      <use href="./img/sprite.svg#icon-close-btn"></use>
    </svg>
  </button>

  <div class="container mobile-menu-container">
    <nav class="mobile-menu-nav" aria-label="Mobile navigation">
      <ul class="mobile-nav-list" role="list">
        <li class="mobile-nav-item" role="listitem">
          <a class="mobile-nav-link" href="#aboutMe" role="menuitem" aria-label="link to About me section"
            >About me</a
          >
        </li>
        <li class="mobile-nav-item" role="listitem">
          <a class="mobile-nav-link" href="#benefits" role="menuitem" aria-label="link to Benefits section"
            >Benefits</a
          >
        </li>
        <li class="mobile-nav-item" role="listitem">
          <a class="mobile-nav-link" href="#projects" role="menuitem" aria-label="link to Projects section"
            >Projects</a
          >
        </li>
        <li class="mobile-nav-item" role="listitem">
          <a class="mobile-nav-link" href="#faq" role="menuitem" aria-label="link to FAQ section">FAQ</a>
        </li>
      </ul>
    </nav>
    <button
      class="theme-color-open-menu-btn"
      type="button"
      aria-label="Change theme"
    >
      Change theme
    </button>
    <button
      class="mobile-order-button"
      type="button"
      role="menuitem"
      aria-label="Go to order the project"
    >
      Order the project
    </button>
  </div>
</div> -->

<div class="mobile-menu" data-menu>
  <button class="mobile-menu-close-btn" data-menu-close aria-label="Close menu">
    <svg class="mobile-menu-close-btn-icon">
      <use href="./img/sprite.svg#icon-close-btn"></use>
    </svg>
  </button>

  <div class="container mobile-menu-container">
    <nav class="mobile-menu-nav" aria-label="Mobile navigation">
      <ul class="mobile-nav-list" role="list">
        <li class="mobile-nav-item" role="listitem">
          <a
            class="mobile-nav-link"
            href="#aboutMe"
            aria-label="Link to About me section"
            >About me</a
          >
        </li>
        <li class="mobile-nav-item" role="listitem">
          <a
            class="mobile-nav-link"
            href="#benefits"
            aria-label="Link to Benefits section"
            >Benefits</a
          >
        </li>
        <li class="mobile-nav-item" role="listitem">
          <a
            class="mobile-nav-link"
            href="#projects"
            aria-label="Link to Projects section"
            >Projects</a
          >
        </li>
        <li class="mobile-nav-item" role="listitem">
          <a
            class="mobile-nav-link"
            href="#faq"
            aria-label="Link to FAQ section"
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="theme-color-open-menu-btn"
      type="button"
      aria-label="Change theme"
    >
      Change theme
    </button>
    <button
      class="mobile-order-button"
      type="button"
      aria-label="Go to order the project"
    >
      Order the project
    </button>
  </div>
</div>
